<script src="http://js.pusher.com/3.0/pusher.min.js"></script>
<script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    };

    var pusher = new Pusher('84f09cdc1b38da624919', {
        encrypted: true
    });

    var channel = pusher.subscribe('test_channel');
    channel.bind('my-event', function (data) {
        $("#itemFromPusher").html($("#itemFromPusher").html()+"<br/>"+data.message);
    });

    var channel2 = pusher.subscribe('key_pressed');
    channel2.bind('left-key', function (data) {
        changePosition("left");
    });
    channel2.bind('right-key', function (data) {
        changePosition("right");
    });

</script>



<%= form_tag("/gamestate/hello_world",remote: true) do %>
    <%= text_field_tag(:txtToSend) %>
    <%= submit_tag("Send") %>
<% end %>

<div id="itemFromPusher" style="width:200px;height:200px"></div>


<div id="image_parent">
  <img src=<%= image_path("superman.jpg") %>  id="superman_img" name="superman_img" class='character_img'/>
</div>

