/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.fbicon
{
    height:30px;
    width:30px;
}
.fbpic
{
    height:50px;
    width:50px;
}
.select-char-link
{
    text-decoration: none;
}
.container-fluid-custom
{
    padding-left:0px;
    padding-right: 0px;
}

#savingthecitylogo
{
    color:aqua;
    font-weight: bold;
}
.btn-save-character
{
    width:200px;
}
body { padding-top:0; }

.navbarmain
{
    margin-bottom:0px;
}
.generic-div-home
{
    padding:20px;
    color:white;
}
.home-cover-heading
{
    padding:20px;
    margin:0;
}
.mainbackground
{
    /*background-image:url('http://chaine-cambodia.com/wp-content/uploads/2013/12/empty-glass-dining-table-image-8.jpg');*/
    background-repeat: no-repeat;
    height:800px;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:0;
    margin:0;
}
#imgparent
{
    position:relative;
    heigth:200px;
    width:150px;
    overflow:auto;
}
.image_parent
{
    position:relative;
}
.character_img
{
    height:150px;
    width:100px;
    position: absolute;
}
.player1
{
    top:50%;
    left:30%;
}
.player2
{
    top:100%;
    left:50%;
}
.newpos
{
    position:relative;
    left: 10px;
}
footer
{
    padding-top:10px;

}
.bulletImg
{
    height: 10px;
    width:10px;
    z-index:1000;
    position:absolute;
    left:50px;
    top:40px;
}
